
.anonymous-rate-limit, .rate-limit {
  margin-top: 13px;
  padding-right: 11px;
}

.title-icon {
  vertical-align: baseline;
  margin-right: 4px;
}

.sort-by {
  cursor: pointer;
  color: #0088cc;
}
.sort-by.current {
  font-weight: bold;
}
.main-content {
  padding-top: 50px;
}
.navbar .brand {
  margin-left: -11px;
}
.share {
  margin-top: 4px;
}
.name img {
  border-radius: 4px;
}
