<div>
  <div class="anonymous-rate-limit ng-cloak" data-ng-Hide="isAuthenticated">
    <span class="sign-in-info text-error">You are not signed in to GitHub. GitHub reduces amount of available requests.</span>
    <span>Rate limit: {{requestsRemained}}</span>
    <strong><a ng-Href="https://github.com/login/oauth/authorize?client_id={{clientId}}">Sign in</a></strong>
  </div>
  <div class="rate-limit ng-cloak" data-ng-Show="isAuthenticated">
    <span>Rate limit: {{requestsRemained}}</span>
    <a href="/anvaka" class="name">
      <img height="20" data-ng-Src="{{user.avatar_url}}" width="20"></img> {{user.login}}
    </a>
  </div>
</div>
