<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body data-ng-app="githubStarsApp">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

  <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Yasiv - GitHub</a>
      <form class="navbar-search pull-left" data-ng-controller="SearchCtrl" data-ng-submit="search()">
        <div class="input-prepend input-append">
          <div class="add-on dropdown" >
            <a href="#" data-role="button" class="dropdown-toggle ng-cloak">
              {{currentSearch.name}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li data-ng-repeat="search in searches">
              {{search.name}}
              </li>
            </ul>
          </div>
          <input type="text" class="search-query" data-ng-model="searchText" placeholder="{{currentSearch.help}}"/>
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </form>
      <ul class="nav pull-right" data-ng-controller='UserInfoCtrl'>
        <li class="userInfo">Sign in</li>
      </ul>
    </div>
  </div>
  <div class="container" data-ng-view></div>

  <script src="components/angular/angular.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script>
  <script src="components/angular-cookies/angular-cookies.js"></script>
  <script src="components/angular-sanitize/angular-sanitize.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap.js"></script>

  <!-- build:js scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/directive/userInfo.js"></script>
  <script src="scripts/services/githubClient.js"></script>
  <script src="scripts/controllers/userInfo.js"></script>
  <script src="scripts/services/config.js"></script>
  <script src="scripts/controllers/oauth.js"></script>
  <script src="scripts/controllers/search.js"></script>
  <script src="scripts/controllers/costars.js"></script>
  <script src="scripts/services/sortedOccurrenceCounter.js"></script>
  <!-- endbuild -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
