<div data-ng-show="searchingLabel">
  {{searchingLabel}}
</div>
<div data-ng-show="displayOnlineCalculation">
  <div class="row-fluid">
    <div class="span4">
      <h2 data-ng-bind="repoTitle"></h2>
      <h4><span class="title-icon icon-cogs"></span> Settings</h4>
      <div>
        <form class="form-inline">
          <label class="checkbox" ng-show="settings.cacheSupported">
            <input type="checkbox" ng-click="toggleCacheEnabled()" ng-model="settings.cacheEnabled"> Cache enabled 
          </label><br />
          <label class="checkbox">
            <input type="checkbox" ng-click="toggleStarsCapEnabled()" ng-model="settings.starsCapEnabled">
            <span>Limit # of stars to analyze</span>
          </label>
          <span class="checkbox" ng-show="settings.starsCapEnabled">
            to
          <input class="input-mini numericInput text-center" ng-model="settings.starsCap" type="text" placeholder="500">
          (makes analysis faster)
          </span>
        </form>
      </div>
      <h4><span class="title-icon icon-pencil"></span> Analysis progress...</h4>
      <ul class="unstyled">
        <li data-ng-repeat="(logName, message) in logEntries">
          <span class="muted" data-ng-bind="message"></span>
        </li>
      </ul>
      <ul class="unstyled">
        <li data-ng-repeat="record in userStatus">Processing {{record.name}}: {{record.processedCount}}</li>
      </ul>
    </div>
    <div class="span8">
      <h4><span class="title-icon icon-star-half-empty"></span> Developers who starred this project also starred</h4>
      <div>
        <ul class="inline">
          <li>Sort by: </li>
          <li><a class='sort-by' ng-class="classForSort('#')" ng-click="changeSort('#')"><span title="Sort in descending order of shared number of stars between two projects">Shared # of stars</span></a><li>
          <li><a class='sort-by' ng-class="classForSort('%')" ng-click="changeSort('%')"><span title="Sort in descending order of similarity coefficient of two projects: sharedStars/(projectAStars + projectBStars)">Similarity coefficient</span></a><li>
        </ul>
      <table class="table table-striped  table-condensed">
        <tbody>
          <tr class="row-fluid" data-ng-repeat="project in projects">
            <td>
              <div class="span8">
                <a data-ng-href="https://github.com/{{project.key}}" target="_blank">{{project.key}}</a>
                <br />
                <p data-ng-bind="project.value.description"></p>
              </div>
              <small class="span4">
                <i title="Watchers count" class="icon-star"></i><span data-ng-bind="project.value.watchers_count | number"></span>&nbsp;&nbsp;
                <i title="Shared watchers count" class="icon-star-half-empty"></i><span data-ng-bind="project.count | number"></span>&nbsp;&nbsp;
                <span ng-show='project.rate'>
                  <i title="Similarity coefficient (weighted Sørensen–Dice index)" class="icon-dashboard"></i>&nbsp;<span ng-show='project.rate'>Rate: {{project.rate | number}}</span>
                </span>
              </small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<div data-ng-show="displayOfflineResults">
  <h2 data-ng-bind="repoTitle"></h2>
  <p class="lead">Related projects</p>
  <table class="table table-striped  table-condensed">
    <tbody>
      <tr class="row-fluid" data-ng-repeat="project in projects">
        <td>
          <div class="span1">
            <h2 data-ng-bind="project.place" class="text-right"></h2>
          </div>
          <div class="span8">
            <a data-ng-href="https://github.com/{{project.name}}" target="_blank">{{project.name}}</a>
            <br />
            <p data-ng-bind="project.description"></p>
          </div>
          <small class="span3">
            <i class="icon-star"></i><span data-ng-bind="project.watchers | number"></span>&nbsp;&nbsp;
            <i class="icon-code-fork"></i><span data-ng-bind="project.forks | number"></span>&nbsp;&nbsp;
            <i class="icon-dashboard"></i>&nbsp;<span ng-show='project.rate'>Similarity: {{project.rate | number}}</span>
          <p>
            <a ng-href="#/costars?q={{project.name}}">Find related</a>
          </p>
          </small>
        </td>
      </tr>
    </tbody>
  </table>
</div>
