<div class="row-fluid">
  <div class="span4">
    <h4><span class="title-icon icon-pencil"></span> Discovery log...</h4>
    <p class="muted">{{followersLog}}</p>
    <p class="muted">{{droppedUsers}}</p>
    <p data-ng-show="favoriteLog">
    Step {{favoriteLog.step}} of {{favoriteLog.totalSteps}}. Analyzing <a data-ng-href="https://github.com/{{favoriteLog.userName}}" target="_blank">{{favoriteLog.userName}}</a> 
    ({{favoriteLog.processedCount}});
    </p>
    <p class="text-success">{{done}}</p>
  </div>
  <div class="span8">
    <h4><span class="title-icon icon-star-half-empty"></span> Developers who starred this project also starred</h4>
    <table class="table table-striped  table-condensed">
      <tbody>
        <tr class="row-fluid" data-ng-repeat="project in projects">
          <td>
            <div class="span9">
              <a data-ng-href="https://github.com/{{project.key}}" target="_blank">{{project.key}}</a>: <b>{{project.count}}</b><br />
            </div>
            <small class="span3">
              <i class="icon-star"></i><span data-ng-bind="project.value.watchers_count | number"></span>&nbsp;&nbsp;
              <i class="icon-code-fork"></i><span data-ng-bind="project.value.forks_count | number"></span>
            </small>
            <p data-ng-bind="project.value.description"></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
